
div{
  font-family: 'Roboto', sans-serif;
}

.search-header{
  background-color: #14ADB9;
  padding: 0.75%;
}

.app-header{
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  /* text-transform: uppercase; */
  font-weight: 100;
  padding-bottom: 10px;
  text-align: center;
  background-color: #14ADB9;
  color: aliceblue;
}

.btn-primary{
  background-color: rgb(255, 123, 87);
  border-color: #ccc;
  color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #FB5629;
  background-position: 0 -15px;
  border-color: #FB5629;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #FB5629;
  border-color: #FB5629;
}




h2{
  text-align: center;
}

.product-list{
  margin: 10px;
  padding: 15px;
  text-align: center;
  height: 230px;
  max-width: 180px;
  position: relative;
  background-color: #FFFFFF;
}
.product-image{
  max-width: 90px;
  max-height: 90px;
  min-height: 90px;
}

.cross-icon{
  margin-left: 98%;
  margin-bottom: -2%;
  color:  #FB5629;
}



/* LIST */

.list-container{
  padding: 3% 10% ;
  background-color: rgb(240, 240, 240);
}

.tem-product{
  font-size: 12px;
}

.list-product-title{
  font-size: 13px;
  text-align: center;
  padding-top: 8px;
}

.list-details{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-top: 20px;
}

.list-details-link{
  color: rgb(19, 154, 163);
}

.list-details-link:hover{
  color: rgb(112, 196, 202);
}

.button-list{
  position: absolute;
  bottom:0; 
  margin:0 auto;
  margin-left: -40%;
  width: 80%;
  margin-bottom: 15px;
  background-color: #FFFFFF;
  background-position: 0 -15px;
  border-color: #FB5629;
  color: #FB5629;
}

.button-list:hover,
.button-list:focus {
  background-color: #FB5629;
  background-position: 0 -15px;
  border-color: #FB5629;
  color: #FFFFFF !important;
}
.button-list:active,
.button-list.active {
  background-color: #FB5629;
  border-color: #FB5629;
  color: #FFFFFF !important;
}

.glyphicon-trash:hover {
  color: #FFFFFF !important;
}

.glyphicon-pencil:hover{
color: #FFFFFF !important;
}

.col-xl-10 {
  min-height: 50px;
  padding-top: 10px;
}





/* ITEM */

.item-container{
  padding: 3% 
} 

.no-data-message{
  font-size: 14px;
  font-style: italic;
  color: #FB5629;
}

.item-image{
  max-width: 250px;
  max-height: 250px;
}

.item-product{
  font-size: 13px;
  padding-left: 8%;
}

.item-product-title{
  font-size: 17px;
  text-align: left;
  padding-top: 8px;
}
.item-details{
  color: rgb(19, 154, 163);
  padding: 3% 0 3% 0;
  font-size: 15px;
}


/* TASK */

.task-container{
  padding: 3% 8%;
}

.task-body{
  font-size: 14px;
  text-align: left;
}

.empty{
  color: rgb(165, 165, 165);
}

.task-title{
  font-size: 26px;
  font-weight: 500;
  color: #FB5629;
}

.task-edit{
  padding: 1.5% 1.5%;
  margin: 0 5% 3% 5%;
  background-color: transparent;
  border-color: rgba(255, 123, 87, 0.884);
  border-style: solid;
  border-width: 1px;
  font-size: 14px;
  text-align: left;
}

div.task-col:nth-child(even) {background: rgb(247, 247, 247)}

.col-md-1{
  min-width: 41px;
}

.col-md-2{
  min-width: 70px;
}

.button-task:hover,
.button-task:focus {
  color: #FFFFFF !important;
  background-color: #FB5629;
  border-color: rgb(19, 154, 163);
}
.button-task:active,
.button-task.active {
  color: #FFFFFF !important;

}

.list-group-item{
  border: none;
}

input[type=checkbox]{
  margin: 5px 0 0;
  font-size: 15px;
}

input[type=checkbox]:focus{
  color: #FB5629;
}

.task-hover :hover{
  color: #14ADB9;
}

.task-hover :active{
  color: rgb(194, 194, 194);
  font-size: 15px;
}

.task-done{
  color: rgb(194, 194, 194);
}

.task-done :hover{
  color: rgb(194, 194, 194);
}
/* END - TASK*/



/* TOTAL BILL */

.task-totalbill{
  font-size: 18px;
  color: #FB5629;
}

.hr-totalbill{
  border: 1.2px solid rgba(19, 154, 163, 0.3);
  margin-top: 2%;
}

.total-bill{
  font-weight: 500;
  padding-left: 2.5%;
}

.total-items{
  font-weight: 500;
  padding-left: 5%;
}

/* END - TOTAL BILL */


/* TRIVIA */

.quote{
  padding: 5% 0;
}

.blockquote-custom {
  position: relative;
  font-size: 16;
  color: rgb(165, 165, 165);
}

.blockquote-custom-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50px;
  color: hsl(184, 80%, 40%);
}
